$color-1: #FFE6DB;
$color-2: #E14400;


main {
    margin: 0px auto;
    text-align: center;
    
    #luna {
        color: $color-2;
    }

    .icons {
            position: absolute;
            top: 10px;
            left: 34%;
            font-size: 30px; 
        }

    .h1 {
        margin-top: 52px;
    }

    #img-1 {
        width: 200px;
        height: 200px;
        left: 1246.05px;
        top: 664.66px;
        border-radius: 50%;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .grupo-1 {
        line-height: 10px;
        font-size: 24px;
    }

   

    .grupo-2 {
        width: 370px;
        height: 55px;
        background-color: $color-1;
        margin: opx auto;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0px auto;
        margin-bottom: 20px;
        cursor: pointer;
    } 

    #btn-4 {
        margin-bottom: 30px;
        cursor: pointer;
    }
    
    #div-1 {
            background-color: #D4E6FF;
            margin-top: 60px;
            margin-bottom: 20px;
        }

    .p-1 {
        margin: 0px auto;
        font-size: 19px;
    }

    .p-2 {
        color: $color-2;
    }

    #p1 {
        color: #0053CC;
        ;
    }   
  
}

footer {
    margin: 0px auto;
    text-align: center;
}

.centrar {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.i-1 {
    font-size: 28px;
    color: $color-2;
    margin-top: 30px;
    margin-right: 24px;
    cursor: pointer;
}

#vector-1 {
    width: 30px;
    margin-top: -10px;
    cursor: pointer;
}

#vector-2 {
    width: 30px;
    margin-top: -10px;
    cursor: pointer;
}